In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (2.0.2)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("analysis_id (1)(in).csv")

In [9]:
df.head(5)

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['Unnamed: 0', 'date_hour', 'client', 'device_type', 'time_zone',
       'os_name', 'browser_name', 'ad_unit', 'size', 'bidder', 'bid_range',
       'media_type', 'request_count', 'response_count', 'prebid_win_count',
       'win_count', 'sum_bid', 'sum_time_to_respond', 'median', 'min_bid',
       'max_bid', 'avg_bid', 'sum_2nd_highest_bid', 'sum_prebid_winning_bid',
       'sum_winning_bid', 'sum_nobid', 'sum_timeout'],
      dtype='object')

In [17]:
df[['bidder','prebid_win_count','win_count','sum_bid']]

         bidder  prebid_win_count  win_count  sum_bid
0     onemobile               1.0        NaN  2.34080
1     rhythmone               NaN        NaN  1.03230
2     undertone               NaN        NaN  0.96000
3                             NaN        NaN      NaN
4     rhythmone               NaN        NaN  0.69285
...         ...               ...        ...      ...
4995                          NaN        NaN      NaN
4996   medianet               NaN        NaN  0.05828
4997                          NaN        NaN      NaN
4998                          NaN        NaN      NaN
4999                          NaN        NaN      NaN

[5000 rows x 4 columns]

In [19]:
df['client'].unique()

array(['asc126828'], dtype=object)

In [25]:
df['sum_winning_bid'].isnull().sum()

4814

In [24]:
df.shape[0]

5000

In [26]:
df.isnull().sum()

Unnamed: 0                   0
date_hour                    0
client                       0
device_type                  0
time_zone                    0
os_name                      0
browser_name                 0
ad_unit                      0
size                         0
bidder                       0
bid_range                    0
media_type                   0
request_count                0
response_count               0
prebid_win_count          3833
win_count                 4814
sum_bid                   1210
sum_time_to_respond       1210
median                    3240
min_bid                   1210
max_bid                   1210
avg_bid                   1210
sum_2nd_highest_bid       4266
sum_prebid_winning_bid    3833
sum_winning_bid           4814
sum_nobid                 5000
sum_timeout               5000
dtype: int64

In [28]:
df.dropna(subset=['prebid_win_count'],inplace=True)

In [29]:
df.isnull().sum()

Unnamed: 0                   0
date_hour                    0
client                       0
device_type                  0
time_zone                    0
os_name                      0
browser_name                 0
ad_unit                      0
size                         0
bidder                       0
bid_range                    0
media_type                   0
request_count                0
response_count               0
prebid_win_count             0
win_count                 1083
sum_bid                      0
sum_time_to_respond          0
median                     591
min_bid                      0
max_bid                      0
avg_bid                      0
sum_2nd_highest_bid        890
sum_prebid_winning_bid       0
sum_winning_bid           1083
sum_nobid                 1167
sum_timeout               1167
dtype: int64

In [34]:
df_2=df[['bidder','prebid_win_count']]

In [37]:
df_2.groupby(['bidder'])['prebid_win_count'].count().reset_index().sort_values(['prebid_win_count'],ascending=False)

          bidder  prebid_win_count
6      onemobile               188
5       medianet               108
4             ix               102
2         criteo               100
10     rhythmone                87
8       pubmatic                82
0       33across                74
1       appnexus                71
12  sharethrough                64
9     pulsepoint                59
15    triplelift                54
3    emx_digital                43
7          openx                42
16     undertone                29
14         teads                28
11       rubicon                26
13         sovrn                10